body {
  background: url("../img/dimension.png"); /* Source: http://subtlepatterns.com/patterns/dimension.png */
}

body, h1, h2, h3, h4, h5, h6, a {
  font-family: "Open Sans", Arial, sans-serif;
}

.header {
  display: block;
  margin: 20px 0;
}

#nav {
  background-color: #333;
}

#jumbotron {
  background: #FBFBFC;
  background: url("../img/keep-calm.jpg") center 10% no-repeat;
  min-height: 900px;
  /*box-shadow: 0 0 2em #eee;*/
  /*box-shadow: inset 0 0 1em #ddd;*/
}

.img {
  margin: 10px auto;
}

.fb-box-wrapper {
  display: inline-block;
  background: #eee;
}

.fb-like-box {
  display: inline-block;
  width: 470px;
  height: 270px;
}

.fb-like {
  display: inline-block;
  height: 60px;
  margin: 10px 0;
}

footer p {
  color: #999;
}
